body{
    background-image: url("images/Background.png");
}
#gamesHost{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    border-width: 5px;
    border-color: aquamarine;
    border-style: outset;
    width: 200px;
    text-align: center;
    background-color: aquamarine;
    font-family: "lucida console";
}
.inefficiency{
    float: left;
    width:250px;
     text-align: center;
    /*display: flex; */
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    
    
    
}
#unity-container{
    margin-top: 100px;
}
a{
   color: aliceblue;
   text-decoration: solid;
   font-family: "lucida console";
}
p{
    color:aliceblue;
}
h3{
    color:aliceblue;
}