*{
    margin: 0;
    padding: 0;
}
html, body
{
    background-color: #3AD6FF;
    position: relative;
    z-index: -3;
    height: 100%;
}
#main
{
    overflow: auto;
    padding-bottom: 369px;
    min-height: 100%;
}

#gamesHost /*container*/
{
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    margin-top: 50px;
}

.inefficiency{
    float: left;
    width:250px;
    text-align: center;
    /*display: flex; */
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.thumbnail
{
    border-radius: 10px;
    border-style: outset;
    border-color:darkcyan;
    border-width: 5px;
    cursor: pointer;
}

a
{
   color: aliceblue;
   text-decoration: solid;
   font-family: "lucida console";
}

p
{
    color:aliceblue;
}

h3
{
    color:aliceblue;
}



#foam{
    position: relative;
    background-image: url("images/Background/foam.png");
    background-repeat: repeat-x;
    top:0;
    left:0;
    right: 0;
    z-index: -2;
    height: 604px;
    margin-top: -50px;
}

#sand1{
    position: relative;
    background-image: url("images/Background/sand1.png");
    background-repeat: repeat-x;
    height: 369px;
    margin-top: -369px;
    clear: both;
    z-index: -2;
}

#logo {
    margin-top: -450px;
    display: flex;
    position: relative;
    height: 66px;
    z-index: 1;
    align-content: flex-start;
    justify-content: center;
}

#survey {
    align-self: center;
}