body{
    background-color: rgb(0, 195, 195);
}
h1{
    border-width: 5px;
    border-color: aquamarine;
    border-style: outset;
    width: 200px;
    text-align: center;
    background-color: aquamarine;
}
.inefficencty{
    float: left;
    width:250px;
    background-color: #ccbdad;
    text-align: center
    
}